<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Cryptography" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient.SNI" version="6.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.61.3" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="7.5.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="7.5.0" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1652.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Pkcs" version="8.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" targetFramework="net48" />
</packages>